/install-sh
/config.status
/config.sub
*.d
!dosrc.d
*.o
configure
config.log
aclocal.m4
autom4te.cache
Makefile.conf
plugin_enable
*.map
*.xxd
_*.h.in
_*.h
*.hh
config.hh.in
*.yy.c
*.zz.c
parser.c
parser.h
parser.output
*.1
dosemu_c.c
global_c.c
etc/Xfonts
/etc/ttf/.uuid
.tstamp
/2.*
/bin
/commands
/lib
dosemu.desktop
dosdebug
hdinfo
bios_symbols.c
keysym_attributes.c
make_attributes
