# Linux dosemu 0.66 configuration file.
#
# This is the example file for
#      /etc/dosemu.conf  ( system wide configuration file )
#      .dosrc            ( user configuration file )
#      option -I         ( configuration via commandline, see man/dose.1 )
#
# A detailed description of all configuration items can be found
# in the file ./doc/README.config
#
# NOTICE:
#    - For more detailed information you should refer to the documentation in
#      the "doc" subdirectory of the DOSEMU distribution, wherever possible.
#    - This configuration file is designed to be used as a base to make
#       it easier for you to set up DOSEMU for your specific system.
#    - Configuration options between lace brackets { } can be split onto
#       multiple lines.
#    - Comments start with # or ; in column 1. (beginning of a line)
#    - If you have problems installing DOSEMU and think it might be useful
#       to mail or post your /etc/dosemu.conf, please consider to do:
#
#         grep ^[^#] /etc/dosemu.conf > /tmp/dosemu.conf-stripped
#
#       and mail or post /tmp/dosemu.conf-stripped instead.
#       This will prove that you actually read the documentation. :-)

debug { off }
dosbanner on
timint on
keyboard {  layout us  keybint on  rawkeyboard off  }
HogThreshold 0
ipxsupport off
terminal { charset latin  updatefreq 4  color on }
X { updatefreq 8 title "DOS in a BOX" icon_name "xdos" }
video { vga }          # Use this line, if you are using VGA
mathco on           # Math coprocessor valid values:  on  off
cpu 80386           # CPU emulation valid values:  80[345]86
bootA               # Startup drive valid values:  bootA  bootC
secure off
dpmi 4086               # DPMI size in K, or "off"
xms 1024		# XMS size in K,  or "off"
ems 1024		# EMS size in K,  or "off"
irqpassing off    # this disables IRQ monitoring
speaker "off"
floppy { device /dev/fd0 threeinch }
sound_emu off
dexe { secure }
