# This is a sample dosemu.users file. You can put it in /etc or in
# /etc/dosemu but it is not compulsary to do so.
# Here you can allow certain privileged things to happen in a suid
# DOSEMU.
#
# Format:
#
#   [ <login> | all ] [ confvar [ confvar [ ... ] ] ]
#
#   <login>  the login name of a user
#   confvar  under this name a configuration variable is set which
#            can be checked via 'ifdef' in /etc/dosemu.conf
#            Variables starting with 'c_' define class permission
#
# For more details look at README.txt

#default_lib_dir= /usr/local/share/dosemu
#config_script= builtin # (or e.g. /etc/dosemu/global.conf)
#log_level= 0
#carol is allowed to do do all weird things
#(this is the default setting when using sudo)
#carol c_all
#joe is a restricted user and is only allowed to use console graphics
#(this is the default setting if dosemu.bin is suid-root)
#joe restricted
