Source: dosemu2
Section: contrib/otherosfs
Priority: optional
Maintainer: Stas Sergeev <stsp@users.sourceforge.net>
Standards-Version: 3.9.7
Build-Depends: git (>= 2.0), bash, autoconf, autotools-dev, automake, bison, perl, debhelper (>= 9~), flex, sed, libx11-dev, libxext-dev, libslang2-dev, xfonts-utils, libgpm-dev, libasound2-dev, libsdl2-dev, ladspa-sdk, libfluidsynth-dev, libao-dev, libvdeplug-dev
Homepage: http://stsp.github.io/dosemu2/

Package: dosemu2
Replaces: dosemu
Conflicts: dosemu
Architecture: i386 amd64
Depends: libc6, ${misc:Depends}
Recommends: ladspa-sdk, ${shlibs:Depends}
Suggests: fluid-soundfont-gm
Description: DOS Emulator for Linux
 dosemu2 is a virtual machine that allows you to run DOS programs under linux.
