Source: dosemu2
Section: otherosfs
Priority: optional
Maintainer: Stas Sergeev <stsp@users.sourceforge.net>
Standards-Version: 3.9.7
Build-Depends:
    git (>= 2.0),
    bash,
    autoconf,
    autotools-dev,
    automake,
    coreutils,
    linuxdoc-tools,
    bison,
    debhelper (>= 9~),
    flex,
    gawk,
    sed,
    libx11-dev,
    libxext-dev,
    libslang2-dev,
    xfonts-utils,
    libgpm-dev,
    libasound2-dev,
    libsdl2-dev,
    libsdl2-ttf-dev,
    libfontconfig1-dev,
    ladspa-sdk,
    libfluidsynth-dev,
    libao-dev,
    libieee1284-3-dev,
    libbsd-dev,
    libreadline-dev,
    libjson-c-dev,
    binutils-dev,
    pkg-config,
    fdpp,
    linux-headers-5.4.0-37-generic
Homepage: https://github.com/dosemu2/dosemu2

Package: dosemu2-legacy
Replaces: dosemu, dosemu2
Conflicts: dosemu, dosemu2
Architecture: i386 amd64
Depends:
    ${misc:Depends},
    ${shlibs:Depends},
    fdpp,
    comcom32 (>= 0.1~alpha2)
Recommends:${shlibs-:Recommends}, ladspa-sdk, gdb, fluid-soundfont-gm
Suggests: vde2, valgrind, install-freedos
Description: DOS Emulator for Linux
 dosemu2 is a virtual machine that allows you to run DOS programs under linux.
