Source: dosemu2
Section: otherosfs
Priority: optional
Maintainer: Stas Sergeev <stsp@users.sourceforge.net>
Standards-Version: 4.1.5
Build-Depends:
    git (>= 2.0),
    autoconf,
    autotools-dev,
    automake,
    make,
    bison,
    debhelper (>= 9~),
    flex,
    gawk,
    libx11-dev,
    libxext-dev,
    libslang2-dev,
    xfonts-utils,
    libgpm-dev,
    libasound2-dev,
    libsdl2-dev,
    libsdl2-ttf-dev,
    libfontconfig1-dev,
    ladspa-sdk,
    libfluidsynth-dev,
    libao-dev,
    libieee1284-3-dev,
    libslirp-dev,
    libbsd-dev,
    libreadline-dev,
    libjson-c-dev,
    libb64-dev,
    libacl1-dev,
    libcap-dev,
    libcap2-bin,
    libglib2.0-dev,
    libsearpc-dev,
    binutils-dev,
    pkg-config,
    fdpp-dev,
    djdev64-dev,
    gcc,
    binutils-i686-linux-gnu
Homepage: https://github.com/dosemu2/dosemu2

Package: dosemu2
Replaces: dosemu
Conflicts: dosemu
Architecture: any
# note: explicit dep on djdev64 is needed as otherwise it goes to Recommends
Depends:
    ${misc:Depends},
    ${shlibs:Depends},
    fdpp,
    djdev64,
    comcom64
Recommends: ${shlibs-:Recommends},
    ladspa-sdk,
    gdb,
    kbd,
    sudo,
    ncurses-base,
    fluid-soundfont-gm,
    install-freedos,
    fuse-overlayfs,
    fuse3
Suggests: vde2, valgrind, install-otherdos
Description: fast and secure DOS emulator
 dosemu2 is an emulator for running DOS programs under linux.
 It can also serve as a VM to boot various DOSes.
