#!/usr/bin/make -f
%:
	dh $@ --parallel

override_dh_auto_configure:
	./autogen.sh
	dh_auto_configure -O--parallel -- \
		--prefix=/usr \
		--libdir=/usr/lib \
		--mandir=/usr/share/man \
		--docdir=/usr/share/doc/dosemu2 \
		--sysconfdir=/etc/dosemu \
		--enable-plugin=vde
