#!/usr/bin/make -f

export DH_ALWAYS_EXCLUDE=fonts.dir:fonts.alias

%:
	dh $@ --parallel --builddirectory=build

override_dh_auto_configure:
	./autogen.sh
	dh_auto_configure -O--parallel -- \
		--enable-debug \
		--with-plugindir=/usr/lib/dosemu \
		--with-x11fontdir=/usr/share/fonts/X11/misc \
		--with-fdtarball=`pwd`/dosemu-freedos-1.0-bin.tgz
		--enable-plugins=+vde

override_dh_strip:
	dh_strip --dbg-package=dosemu2-dbg

override_dh_shlibdeps:
	dh_shlibdeps -X.so
	dh_shlibdeps -- -dRecommends -pshlibs-
