#!/usr/bin/make -f

export DH_ALWAYS_EXCLUDE=fonts.dir:fonts.alias

%:
	dh $@ --parallel --builddirectory=build

override_dh_auto_configure:
	./autogen.sh
	dh_auto_configure -O--parallel -- \
		--with-plugindir=/usr/lib/dosemu \
		--with-x11fontdir=/usr/share/fonts/X11/misc \
		--enable-plugin=vde
